  {% extends "base.html" %}
  <body>

    <div class="container">
    {% block content %}

      {% if error %}
      <div class="card account-create-error">
        <div class="card-content center-align">
          <p>{{ error }}</p>
        </div>
      </div>
      {% endif %}

      {% if account_activated %}

      <div class="card">
    		<div class="card-content center-align account-validate-success">
    			<p>Your account has been successfully activated!</p>
    		</div>

        <div class="card-action center-align">
          {% if continue_url %}
            <a href="{{continue_url}}" class="btn center-align waves-effect waves-light">Continue</a>
          {% endif %}
        </div>
    	</div>

      {% endif %}

    {% endblock %}
    </div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
