{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../static/images/favicon.ico">

		<title>New Account Creation</title>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<link href="{% static "css/sgci-vars.css" %}" rel="stylesheet">
		<link href="{% static "css/sgci-style.css" %}" rel="stylesheet">
		<link href="{% static "css/sgci-site.css" %}" rel="stylesheet">
		<link href="{% static "css/sgci-app.css" %}" rel="stylesheet">
		<!-- <link href="{% static "css/angular-material.css" %}" rel="stylesheet"> -->
		<link href="{% static "css/app.css" %}" rel="stylesheet">
		<!-- <link href="{% static "css/signin.css" %}" rel="stylesheet"> -->


		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- container -->
			<div class="page-wrap">
	    <div class="page-head">
	        <div class="inner">
	            <header>
	                <div class="inner">
	                    <div class="logo">
	                        <img src="{% static 'images/top_left_logo.svg' %}">
	                    </div>
	                </div>
	            </header>

	            <div class="social-wrap">
	            </div>
	        </div>
	        <div class="image"></div>
	    </div>
	    <div class="page-main">

	        <div class="section split-nav">
						 {% block content %}

						 {% endblock %}
	        </div>

	    </div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

	</body>

	<footer class="js-reveal" data-reveal-at="bottom" data-reveal-offset="20">
        <div class="inner">
            <div class="go-high">
                <a href="#"><button class="chromeless" aria-label="Go to the top of the page">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90"><path d="M45 90c-.8 0-1.4-.6-1.4-1.4V1.4c0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4v87.2c0 .8-.6 1.4-1.4 1.4z"/><path d="M79.6 37.3c-.4 0-.7-.1-1-.4L45 3.3 11.4 36.9c-.5.5-1.4.5-1.9 0s-.5-1.4 0-1.9L44 .4c.3-.3.6-.4 1-.4s.7.1 1 .4L80.5 35c.5.5.5 1.4 0 1.9-.2.3-.6.4-.9.4z"/></svg>
                </button></a>
            </div>
            <div class="attribution">
                <div class="sgci">
                    <div class="logo">
                        <img src="{% static 'images/bottom_left_logo.svg' %}">
                    </div>
						<p>
							{{bottom_left_text | safe | escape}}
						</p>               
					</div>

                <div class="nsf">
                    <div class="logo">
						<img src='{% static "images/bottom_right_logo.svg" %}'>
                    </div>
					<p>
						{{bottom_right_text | safe | escape}}
					</p>
                </div>
            </div>
						<p>{{copyright | safe | escape}}</p>
        </div>
    </footer>

</html>
