{% extends "base.html" %}
<div>
{% block content %}
	{% if error %}
	<div class="card account-create-error">
		<div class="card-content center-align">
			<p>{{ error }}</p>
		</div>
	</div>
	{% endif %}

	{% if account_created %}
		<div class="card account-create-success">
	    <div class="card-title center-align">
	      <span class="card-title">Account created!</span>
	    </div>
	    <div class="card-content center-align">
	      <p> An email will be sent shortly to the email address you specified when creating your account. Click the link in the email to activate your account.</p>
	    </div>
	  </div>
	{% else %}
	<form action="create_account" method='post' id="create_account" role="form" class="center-align">
		{% csrf_token %}
		<h4 class="form-title">Create account</h4>
		<input type="text" class="validate" placeholder="Username" autofocus name="username" maxlength="50" value="{{ username }}" required>
		<input type="text" class="validate" placeholder="First Name" name="first_name" maxlength="50" value='{{first_name}}' required>
		<input type="text" class="validate" placeholder="Last Name" name="last_name" maxlength="50"  value='{{last_name}}' required >
		<input type="email" class="validate" placeholder="Email address" name="email" autofocus maxlength="75" value='{{email}}' required >
		<input type="password" class="validate" placeholder="Password" name="password" maxlength="50" required >
		<input type="password" class="validate" placeholder="Confirm Password" name="password2" maxlength="50" required >
		<div align="center" class="g-recaptcha" data-sitekey="6Lf3gG8UAAAAAFLHHko1yzDfIH6sJvVx38aAc1OM"></div>
		<button class="btn center-align waves-effect waves-light" type="submit" name="action">Submit</button>
	</form>
	{% endif %}

{% endblock %}
</div>
