{% extends "base.html" %}
<body>

	<div class="container">
	{% block content %}

		{% if error %}
		<div class="card account-create-error">
			<div class="card-content center-align">
				<p>You are not authorized.</p>
			</div>
		</div>
		{% endif %}

	{% endblock %}
	</div> <!-- /container -->

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
