{% extends "base.html" %}
<div>
{% block content %}
	{% if error %}
	<div class="card account-create-error">
		<div class="card-content center-align">
			<p>{{ error }}</p>
		</div>
	</div>
	{% endif %}

  {% if reset_password_sent %}

  	<div class="card password-reset-success">
      <div class="card-title center-align">
        <span class="card-title">Password request submitted!</span>
      </div>
      <div class="card-content center-align">
        <p> If your account is found, you will receive an email at the registered email address with instructions to complete the password reset.</p>
      </div>
    </div>

  {% else %}

    <form action="reset_password" method='post' id="reset_password" role="form" class="center-align">
    	{% csrf_token %}
    	<h4 class="form-title">Reset password</h4>
      <p>
        Enter your Science Gateways username to request a password reset.
        If your account is found, you will receive an email at the registered email address with instructions to complete the password reset.
      </p>

      <input type="text" class="validate" placeholder="Username" autofocus name="username" maxlength="50" value="{{ username }}" required>

    	<button class="btn center-align waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>

  {% endif %}

{% endblock %}
</div>
