{% extends "base.html" %}
<div>
{% block content %}
	{% if error %}
	<div class="card account-create-error">
		<div class="card-content center-align">
			<p>{{ error }}</p>
		</div>
	</div>
	{% endif %}

	{% if valid_request %}
		{% if password_reset_success %}

			<div class="card password-reset-success">
				<div class="card-title center-align">
					<span class="card-title"></span>
				</div>
				<div class="card-content center-align">
					Password successfully changed!
				</div>
			</div>

		{% else %}

			<form action="reset_password_submit" method='post' id="reset_password" role="form" class="center-align">
				{% csrf_token %}
				<h4 class="form-title">Reset password</h4>
				<p>
					Enter new password for <strong>{{username}}</strong>:
				</p>

				<input type="password" class="validate" placeholder="Password" name="password" maxlength="50" required >
				<input type="password" class="validate" placeholder="Confirm Password" name="password2" maxlength="50" required >
				<input type="hidden" name="username" value="{{ username }}">
				<button class="btn center-align waves-effect waves-light" type="submit" name="action">Submit</button>
			</form>

		{% endif %}
	{% endif %}



{% endblock %}
</div>
