.positionContainRight {
  right: 0rem;
}
@media (min-width: 500px) {
  .positionContainRight {
    right: 2rem;
  }
}
@media (min-width: 900px) {
  .positionContainRight {
    right: 3rem;
  }
}
@media (min-width: 1200px) {
  .positionContainRight {
    right: 5rem;
  }
}
.page-head > .inner > .content {
  color: #fff;
}
.page-head > .inner > .content h1 {
  color: #fff;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .page-head > .inner > .content {
    width: 66.66%;
  }
}
@media (min-width: 1600px) {
  .page-head > .inner > .content {
    width: 50%;
  }
}
.page-head > .inner > .content p {
  font-family: 'latolight', Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.1rem;
}
.page-head > .image {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: url(img/home-hero.jpg);*/
  background-size: cover;
  background-position: center right;
}
.page-head > .image:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}
.page-main {
  overflow: hidden;
}
.page-main .resources {
  background: #fdfdfd;
  border-bottom: 5px solid #efefef;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
@media (min-width: 500px) {
  .page-main .resources {
    padding-left: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main .resources {
    padding-left: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main .resources {
    padding-left: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main .resources {
    padding-left: 5rem !important;
  }
}
@media (min-width: 500px) {
  .page-main .resources {
    padding-right: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main .resources {
    padding-right: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main .resources {
    padding-right: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main .resources {
    padding-right: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main .resources h2 {
    width: 50%;
  }
}
.page-main .resources .resource-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.page-main .resources .resource-links .resource-link {
  display: inline-block;
  padding-right: 2rem;
}
.page-main .resources .resource-links .resource-link .icon {
  width: 75%;
  max-width: 7rem;
  padding: 2rem 0 1.4rem;
  -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.page-main .resources .resource-links .resource-link h3 {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.page-main .resources .resource-links .resource-link p {
  font-size: 0.9rem;
  line-height: 1.2em;
  color: #828282;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.page-main .resources .resource-links .resource-link.incubator svg {
  fill: #8555c6;
}
.page-main .resources .resource-links .resource-link.developer svg {
  fill: #1ea2e0;
}
.page-main .resources .resource-links .resource-link.software svg {
  fill: #d94288;
}
.page-main .resources .resource-links .resource-link.engagement svg {
  fill: #5c9eac;
}
.page-main .resources .resource-links .resource-link.workforce svg {
  fill: #2f2f5f;
}
.page-main .resources .resource-links .resource-link:hover .icon {
  -webkit-transform: translate(0, -0.4rem);
          transform: translate(0, -0.4rem);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.page-main .resources .resource-links .resource-link:hover h3 {
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
  color: #393c3d;
}
.page-main .resources .resource-links .resource-link:hover p {
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
}
@media (min-width: 601px) {
  .page-main .resources .resource-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-main .resources .resource-links .resource-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (min-width: 801px) {
  .page-main .resources .resource-links .resource-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}
@media (min-width: 1000px) {
  .page-main .resources .resource-links .resource-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}
@media (min-width: 800px) {
  .page-main .happenings h2 {
    float: right;
  }
}
.page-main .happenings .tabs-tabs {
  margin-bottom: 2rem;
}
.page-main .happenings .tabs-panel > *:first-child {
  margin-top: 0;
}
.page-main .happenings .items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-right: 0;
}
.page-main .happenings .items-row .item {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  border-top: 1px solid #f1f1f1;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 500px) {
  .page-main .happenings .items-row .item {
    padding-left: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main .happenings .items-row .item {
    padding-left: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main .happenings .items-row .item {
    padding-left: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main .happenings .items-row .item {
    padding-left: 5rem !important;
  }
}
@media (min-width: 500px) {
  .page-main .happenings .items-row .item {
    padding-right: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main .happenings .items-row .item {
    padding-right: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main .happenings .items-row .item {
    padding-right: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main .happenings .items-row .item {
    padding-right: 5rem !important;
  }
}
.page-main .happenings .items-row .item h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1.6rem;
}
.page-main .happenings .items-row .item .more-details {
  display: block;
  content: '';
  position: absolute;
  width: 5rem;
  height: 5rem;
  bottom: 0;
  right: 0;
  background: #8165a6;
  -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transform: translate(50%, 50%) rotate(45deg) translate(50%, 0%);
          transform: translate(50%, 50%) rotate(45deg) translate(50%, 0%);
  text-indent: 100rem;
}
.page-main .happenings .items-row .item .more-details:before {
  display: block;
  content: '';
  position: absolute;
  content: "+";
  text-indent: 0;
  font-family: 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transform: translate(-5%, 50%) rotate(45deg) translate(50%, -50%);
          transform: translate(-5%, 50%) rotate(45deg) translate(50%, -50%);
}
.page-main .happenings .items-row .item:hover .more-details {
  -webkit-transform: translate(50%, 50%) rotate(45deg) translate(0%, 0%);
          transform: translate(50%, 50%) rotate(45deg) translate(0%, 0%);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.page-main .happenings .items-row .item:hover .more-details:before {
  -webkit-transform: translate(-5%, 50%) rotate(45deg) translate(0%, 0%);
          transform: translate(-5%, 50%) rotate(45deg) translate(0%, 0%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.page-main .happenings .items-row .item.software .more-details {
  background: #d94288;
}
.page-main .happenings .items-row .item.incubator .more-details {
  background: #8555c6;
}
.page-main .happenings .items-row .item.developer .more-details {
  background: #1ea2e0;
}
.page-main .happenings .items-row .item.engagement .more-details {
  background: #5c9eac;
}
.page-main .happenings .items-row .item.workforce .more-details {
  background: #2f2f5f;
}
@media (min-width: 760px) {
  .page-main .happenings .items-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-main .happenings .items-row .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    border-right: 1px solid #f1f1f1;
  }
  .page-main .happenings .items-row .item:last-child {
    border-right: 0;
  }
}
.page-main .happenings .banner .inner {
  overflow: hidden;
  background-size: cover;
  background-position: center right;
}
.page-main .happenings .banner .inner .content > *:last-child {
  margin-bottom: 0;
}
.page-main .happenings .banner.conference .inner {
  background-image: url(img/conference.jpg);
}
.page-main .happenings .banner.conference .inner .content {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  margin: 6rem 0 8rem;
  background: #0a2635;
  line-height: 1.4em;
}
@media (min-width: 500px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-left: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-left: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-left: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-left: 5rem !important;
  }
}
@media (min-width: 500px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-right: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-right: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-right: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main .happenings .banner.conference .inner .content {
    padding-right: 5rem !important;
  }
}
.page-main .happenings .banner.conference .inner .content h3 {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 1200px) {
  .page-main .happenings .banner.conference .inner .content {
    width: 66.66%;
  }
}
@media (min-width: 1600px) {
  .page-main .happenings .banner.conference .inner .content {
    width: 50%;
  }
}
.page-main .help {
  background: #5c9eac;
}
.page-main .help .inner {
  padding-top: 4rem;
  padding-bottom: 6rem;
  color: #fff;
}
.page-main .help .inner h2,
.page-main .help .inner h3,
.page-main .help .inner a {
  color: #fff;
}
.page-main .help .inner h2 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
.page-main .help .inner > *:last-child {
  margin-bottom: 0;
}
.page-main .help .inner .link-more {
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  .page-main .help .inner {
    width: 75%;
  }
}
@media (min-width: 1600px) {
  .page-main .help .inner {
    width: 50%;
  }
}
.positionContainRight {
  right: 0rem;
}
@media (min-width: 500px) {
  .positionContainRight {
    right: 2rem;
  }
}
@media (min-width: 900px) {
  .positionContainRight {
    right: 3rem;
  }
}
@media (min-width: 1200px) {
  .positionContainRight {
    right: 5rem;
  }
}
.page-head > .inner > .content {
  color: #fff;
}
.page-head > .inner > .content h1 {
  color: #fff;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .page-head > .inner > .content {
    width: 66.66%;
  }
}
@media (min-width: 1600px) {
  .page-head > .inner > .content {
    width: 50%;
  }
}
.page-head > .inner > .content p {
  font-family: 'latolight', Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.1rem;
}
.page-head > .inner > .content nav ul,
.page-head > .inner > .content nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-head > .inner > .content nav a:hover {
  color: #d94288;
}
.page-head > .image {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: url(img/home-hero.jpg);*/
  background-size: cover;
  background-position: center right;
}
.page-head > .image:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}
.page-main {
  overflow: hidden;
}
.page-main > .section,
.page-main > .section-grid,
.page-main > .section-narrow {
  background: #fdfdfd;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
  max-width: 500px;
  border-style: solid;
  border-width: 0.1px;
  border-color: #0C0911;
}
.page-main > .section > *:last-child,
.page-main > .section-grid > *:last-child,
.page-main > .section-narrow > *:last-child {
  margin-bottom: 0;
}
.page-main > .section > .row + .row,
.page-main > .section-grid > .row + .row,
.page-main > .section-narrow > .row + .row {
  margin-top: 3rem;
}
.page-main > .section {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 500px) {
  .page-main > .section {
    padding-left: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main > .section {
    padding-left: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section {
    padding-left: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main > .section {
    padding-left: 5rem !important;
  }
}
@media (min-width: 500px) {
  .page-main > .section {
    padding-right: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main > .section {
    padding-right: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section {
    padding-right: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main > .section {
    padding-right: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.page-main > .section-grid {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .page-main > .section-grid {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.page-main > .section-grid > .row > [class*="col-"] > .inner {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
@media (min-width: 500px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-left: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-left: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-left: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-left: 5rem !important;
  }
}
@media (min-width: 500px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-right: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-right: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-right: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main > .section-grid > .row > [class*="col-"] > .inner {
    padding-right: 5rem !important;
  }
}
.page-main > .section-grid > .row > [class*="col-"].aside {
  background: #5c9eac;
}
.page-main > .section-grid > .row > [class*="col-"].aside nav ul,
.page-main > .section-grid > .row > [class*="col-"].aside nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-main > .section-grid > .row > [class*="col-"].aside nav a {
  color: #fff;
  position: relative;
  display: inline-block;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  font-family: 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
}
.page-main > .section-grid > .row > [class*="col-"].aside nav a:before {
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  left: -1.4rem;
  width: 0;
  background: #fff;
}
.page-main > .section-grid > .row > [class*="col-"].aside nav a:hover:before {
  width: 1rem;
}
.page-main > .section-narrow {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 500px) {
  .page-main > .section-narrow {
    padding-left: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main > .section-narrow {
    padding-left: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section-narrow {
    padding-left: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main > .section-narrow {
    padding-left: 5rem !important;
  }
}
@media (min-width: 500px) {
  .page-main > .section-narrow {
    padding-right: 1.5rem !important;
  }
}
@media (min-width: 900px) {
  .page-main > .section-narrow {
    padding-right: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section-narrow {
    padding-right: 4rem !important;
  }
}
@media (min-width: 1600px) {
  .page-main > .section-narrow {
    padding-right: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .page-main > .section-narrow {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.page-main > .section-image-spacer {
  position: relative;
  height: 20rem;
  /*background-image: url(img/home-hero.jpg);*/
  background-size: cover;
  background-position: center right;
  z-index: 1;
}
@media (min-width: 1200px) {
  .page-main > .section-image-spacer {
    height: 40rem;
    margin: -6rem 0;
  }
}
.page-main .pullout {
  font-family: 'playfair_displayregular', Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
  line-height: 1.6em;
  color: #5c9eac;
}
.page-main .announcement {
  font-size: 2rem;
  font-family: 'latolight', Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.2em;
  margin-bottom: 2rem;
  position: relative;
}
.page-main .announcement:after {
  display: block;
  content: '';
  position: absolute;
  height: 1px;
  width: 200%;
  top: 50%;
  left: 100%;
}
.page-main .announcement.on-dark {
  color: #fff;
}
.page-main .announcement.on-dark:after {
  background: rgba(255, 255, 255, 0.5);
}
.page-main .section-top-bottom-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .page-main .section-top-bottom-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.page-main .row.with-separator {
  position: relative;
  padding-top: 3rem;
}
.page-main .row.with-separator:before {
  display: block;
  content: '';
  position: absolute;
  height: 2px;
  background: #d94288;
  top: 0;
  left: 0;
  width: 15rem;
}
